
<ion-content scrollY="true" scrollX="true" >
	<ion-header >
	  <ion-toolbar>
		<ion-title *ngIf="data"> 
		  <div *ngIf="data.title; else Title">
			{{data.title}}
		  </div>
			<ng-template #Title>Dashboard</ng-template>
		</ion-title>
		<div *ngIf="json_data">
			<ion-button type=submit (click)="close()">Close
				<ion-icon size="small" name="close"></ion-icon> 
			</ion-button>
		</div>
	  </ion-toolbar>
	</ion-header>
    <ion-card>
      <!--ion-card-header>
        Bar Chart
      </ion-card-header-->
      <ion-card-content>
		<canvas #barCanvas ></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <!--ion-card-header>
        Bar Chart
      </ion-card-header-->
      <ion-card-content>
		 <canvas #barCanvas1 ></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <!--ion-card-header>
        Doughnut Chart
      </ion-card-header-->
      <ion-card-content>
			<canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <!--ion-card-header>
        Line Chart
      </ion-card-header-->
      <ion-card-content>
			<canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
</ion-content>
