@import '~@swimlane/ngx-datatable/index.css';
//@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
//@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';

.server-scrolling-demo {
  height: calc(100vh - 110px);
}

::ng-deep .progress-linear {
  position: fixed !important;
  bottom: 0px;
}

.ngx-datatable.bootstrap {
  height: calc(100vh - 110px);
  font-size: 13px;
  text-align: auto;
  .datatable-body {
    .datatable-body-row {
      &.active {
        background-color: #387001;
        color: #ffffff;
      }
    }
    .datatable-body-cell {
	  text-align: center;
    }
  }
}
