<!--ion-header *ngIf="data.data_type">
  <ion-toolbar color="primary">
	<div>
		<ion-button type=submit (click)="close()">Close
			<ion-icon size="small" name="close"></ion-icon> 
		</ion-button>
	</div>
	<ion-title > 
	  <div class="ion-text-center" text-capitalize *ngIf="data.data_type; else Title">
		{{data.data_type}}
	  </div>
		<ng-template #Title>Data Grid</ng-template>
	</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content padding >
  <div>
	  <ion-button type=submit (click)="close()">Close
		  <ion-icon size="small" name="close"></ion-icon> 
	  </ion-button>
  </div>
  <ion-title  > 
	<div class="ion-text-center" text-capitalize *ngIf="title; else Title">
	  {{title}}
	</div>
	  <ng-template #Title>Data Grid</ng-template>
  </ion-title>
	  <ion-item-divider color="primary"> 
	  <ion-buttons >
		<ion-button color="tertiary" slot="start" fill="clear" (click)="refresh()"> 
		  <ion-icon size="small" color="bright" slot="icon-only" name="sync"></ion-icon> 
		</ion-button>
	  </ion-buttons>
	  <ion-select value="today" placeholder="Change period" (ionChange)="periodChange($event)">
		<ion-select-option value="lasthour">Last Hour</ion-select-option>
		<ion-select-option value="today" >Today</ion-select-option>
		<ion-select-option value="last24h">Last 24 hours</ion-select-option>
		<ion-select-option value="last7d">Last 7 days</ion-select-option>
		<ion-select-option value="last30d">Last 30 days</ion-select-option>
	  </ion-select>
	  </ion-item-divider>
 <ion-input style="padding:1px;margin:5px auto;width:auto;" type="text" placeholder="Filter by asset name" (keyup)="updateFilter($event)"> </ion-input>

 <ngx-datatable #myTable class="bootstrap server-scrolling-demo" 
	[sortType]="'multi'"
	[columnMode]="'flex'"
	[headerHeight]="headerHeight"
	[footerHeight]="40"
	[rowHeight]="rowHeight"
	[rows] ="rows"
	[columns] ="columns"
	[scrollbarV]="true"
	[scrollbarH]="true"
	[loadingIndicator]="isLoading"
	[externalPaging]="true"
	[count]="totalCount"
	[reorderable] ="true"
	[swapColumns]="true"
	[summaryRow]="enableSummary"
	[summaryPosition]="summaryPosition"
	[summaryHeight]="30"
	[offset]="offset"
	(page)="setPage($event)">
 </ngx-datatable>
</ion-content>
