<ion-footer> 
</ion-footer>
<ion-content >
	<ion-toolbar color="primary">
	  <ion-title>{{title}}</ion-title>
	  <ion-buttons slot="start">
		<!--ion-button expand="block" routerLink="/home/first" routerDirection="root">
		  <ion-icon size="small" slot="icon-only" name="home"></ion-icon> 
		</ion-button-->
		<ion-back-button slot="start" id="backButton" defaultHref="/"></ion-back-button>
	  </ion-buttons>
	  <ion-buttons slot="end">
		  <ion-menu-button menuToggle auto-hide="false" menu="mainmenu"><ion-icon  name="menu"></ion-icon></ion-menu-button>
	  </ion-buttons>

	</ion-toolbar>
	<ion-toolbar *ngIf="carray.length > 0" color="primary">
		<ion-label slot="start" *ngFor="let context of carray">{{context}}-></ion-label>
	</ion-toolbar>
	<ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-list >
	  <ion-item-group *ngFor="let schema of schema_list">
		<ion-item-divider color="secondary" *ngIf="schema.cschema_type !== 'apply'">
		  <ion-label color="tertiary" position = "stacked" text-capitalize>
			{{schema.name}}
		  </ion-label>
		  <div *ngIf="global.user_entity_type <= schema.allowed_entity_type && view_type != 'AssetContextual'">
			<ion-buttons >
			  <ion-button color="tertiary" slot="end" fill="clear" (click)="handle_operation('Add', '', schema)"> 
				<ion-icon size="small" slot="icon-only" name="add"></ion-icon> 
			  </ion-button>
			</ion-buttons>
		  </div>
		</ion-item-divider>
		<div detail-none *ngFor="let row of data$ | async" >
			<!--div *ngIf="schema.id === row.cschema_id && user_entity_type <= schema.allowed_entity_type"-->
			<div *ngIf="schema.id === row.cschema_id ">
			  <ion-item>
				<ion-label  position="fixed" routerDirection="forward" text-wrap>
				  {{row.name}}
				</ion-label>
				<ion-buttons >
				  <div *ngIf="global.user_entity == row.entity_id && view_type != 'AssetContextual'">
					<ion-button slot="end" fill="clear" (click)="handle_operation('Modify', row, schema)"> 
					  <ion-icon size="small" name="hammer"></ion-icon> 
					</ion-button>
					<ion-button slot="end" fill="clear" (click)="handle_operation('Delete', row )"> 
					  <ion-icon  size="small" name="trash"></ion-icon> 
					</ion-button>
				  </div >
				</ion-buttons>
				<ion-buttons >
				  <ion-button slot="end" fill="clear" (click)="handle_operation('View', row, schema)"> 
					<ion-icon size="small" name="open"></ion-icon> 
				  </ion-button>
				  <div *ngIf="global.user_entity_type <= schema.allowed_entity_type && view_type != 'AssetContextual'">
					<ion-button slot="start" fill="clear" (click)="handle_operation('Copy', row, schema)"> 
					  <ion-icon size="small" name="copy"></ion-icon> 
					</ion-button>
				  </div>
				  <!--div *ngIf="user_entity_type <= schema.allowed_entity_type">
				  </div-->
				  <ion-button *ngIf="row.aschema_name != ''" slot="end" fill="clear" (click)="applyview(row,schema )"> 
					<ion-icon  size="small" name="arrow-round-forward"></ion-icon> 
				  </ion-button>
				</ion-buttons>
			  </ion-item>
			</div>
		</div>
	  </ion-item-group>
	</ion-list>
</ion-content>
