<ion-footer> 
  <ion-label slot="start" *ngIf="view === 'controlled'" >
	  <ion-button *ngIf="show_desc == false" color="tertiary" type="submit" (click)="set_desc(true)" >Show description</ion-button>
	  <ion-button *ngIf="show_desc == true" color="tertiary" type="submit" (click)="set_desc(false)" >Show name</ion-button>
  </ion-label>
</ion-footer>
<ion-content padding>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
	  <ion-back-button slot="start" id="backButton" defaultHref="/"></ion-back-button>
    </ion-buttons>
	<ion-title>{{title}}</ion-title>
	<ion-buttons slot="end">
		<ion-menu-button menuToggle auto-hide="false" menu="mainmenu"><ion-icon  name="menu"></ion-icon></ion-menu-button>
	</ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="carray.length > 0" color="primary">
	  <ion-label slot="start" *ngFor="let context of carray">{{context}}-></ion-label>
  </ion-toolbar>
  <ion-refresher (ionRefresh)="onRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
	<ion-list >
		<ion-item-group >
		<div *ngFor="let type of asset_types">
		  <div *ngIf="(view === 'owned' && type.root_asset_flag) || (view === 'controlled' && !type.root_asset_flag)">
			<ion-item-divider color="secondary">
			  <ion-label color="tertiary"> {{type.name}}</ion-label>
			  <ion-thumbnail slot="start">
				<ion-img [src]="type.image"></ion-img>
			  </ion-thumbnail>

			  <ion-buttons >
				<ion-button color="tertiary" *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('Add', type)"> 
				  <ion-icon size="small" slot="icon-only" name="add"></ion-icon> 
				</ion-button>
				<ion-button color="tertiary" slot="end" fill="clear" (click)="handle_operation('Profiles', type)"> 
				  <ion-icon size="small" slot="icon-only" name="construct"></ion-icon> 
				</ion-button>
			  </ion-buttons>
			</ion-item-divider>
			<div detail-none *ngFor="let row of data$ | async; let i = index" >
			  <div *ngIf="row.asset_type && type.id === row.asset_type">
				<ion-item lines="none">
				  <div>
				  </div>
				  <ion-label *ngIf="type.root_asset_flag" (click)="labelClick($event, row)" routerDirection="forward">
					{{row.description}}
				  </ion-label>
				  <ion-label *ngIf="type.root_asset_flag !== true && show_desc == true" >
					{{row.description}}
				  </ion-label>
				  <ion-label *ngIf="type.root_asset_flag !== true && show_desc == false" >
					{{row.name}}
				  </ion-label>
				  <ion-buttons>
					<!--div *ngIf="type.root_asset_flag">
					  <ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('InitC', type, row)"> 
						<ion-icon size="small" slot="icon-only" name="key"></ion-icon> 
					  </ion-button>
					  <ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('Sync', type, row)"> 
						<ion-icon size="small" slot="icon-only" name="sync"></ion-icon> 
					  </ion-button>
					  <ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('Usersync', type, row)"> 
						<ion-icon color="secondary" size="small" slot="icon-only" name="sync"></ion-icon> 
					  </ion-button>
					</div-->
					<div *ngIf="type.root_asset_flag">
					  <ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('operation:ResetC', type, row)">
						<ion-icon size="small" slot="icon-only" name="key"></ion-icon>
					  </ion-button>
					</div>
					<ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('editProfiles', type, row)"> 
					  <ion-icon size="small" slot="icon-only" name="construct"></ion-icon> 
					</ion-button>
					<div *ngIf="!type.root_asset_flag">
					  <ion-button *ngIf="mypriv !=='SPAdmin'" slot="end" fill="clear" (click)="handle_operation('viewProfiles', type, row)"> 
						<ion-icon size="small" slot="icon-only" name="eye"></ion-icon> 
					  </ion-button>
					  <ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('Copy', type, row)"> 
						<ion-icon size="small" name="copy"></ion-icon> 
					  </ion-button>
					</div>
					<ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('Modify', type, row)"> 
					  <ion-icon size="small" name="hammer"></ion-icon> 
					</ion-button>
					<ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('Delete', type, row )"> 
					  <ion-icon  size="small" name="trash"></ion-icon> 
					</ion-button>
				  </ion-buttons>
				  <ion-buttons>
					<ion-checkbox size="small" slot="end" (ionChange)="ActOnSelect(type, row)" [(ngModel)]="row.isChecked"></ion-checkbox>
				  </ion-buttons>
				</ion-item>
				<!--ion-item *ngIf="row.operations && row.operations.length > 0">
				  <div *ngFor="let operations of row.operations" >
					<ion-buttons>
					  <ion-button *ngIf="operations === 'Start'" slot="end" fill="clear" (click)="handle_operation('Start', type, row)"> 
						<ion-icon size="small" name="play"></ion-icon> 
					  </ion-button>
					  <ion-button *ngIf="operations === 'Stop'" slot="end" fill="clear" (click)="handle_operation('Stop', type, row)"> 
						<ion-icon size="small" name="pause"></ion-icon> 
					  </ion-button>
					  <ion-button *ngIf="operations === 'Reset'" fill="clear" slot="end" (click)="handle_operation('Reset', type, row)"> 
						<ion-icon size="small" name="rewind"></ion-icon> 
					  </ion-button>
					</ion-buttons>
				  </div>
				</ion-item-->
			  </div>
			</div>
		  </div>
		  </div>
		</ion-item-group>
	</ion-list>
</ion-content>
