<ion-header>
  <ion-toolbar>
	  <ion-title>{{action}} {{title}}</ion-title>
	  <ion-button type=submit (click)="cancel()">Cancel</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<form [formGroup] = "changeForm" >
		<ion-list lines="none" style = "text-align: left">
		  <ion-item >
			<ion-label position=floating >
			{{atypinfo.name}}
			</ion-label>
			<ion-select placeholder = "Select " formControlName="name">
				<ion-select-option *ngFor="let option of asset_options" value="{{option}}">{{option}}</ion-select-option>
			</ion-select>
		  </ion-item>
		  <ion-item *ngIf="subtypes.length">
			<ion-label position=floating >Type </ion-label>
			<ion-select placeholder = "Select " formControlName="subtype">
				<ion-select-option *ngFor="let option of subtypes" value="{{option}}">{{option}}</ion-select-option>
			</ion-select>
		  </ion-item>
		  <ion-item >
			<ion-label position=stacked >Description</ion-label>
				<ion-input  formControlName="description" placeholder="Enter Description"  type="text"></ion-input>
		  </ion-item>
		  <ion-item *ngIf="atypinfo.addressable">
			<ion-label position=stacked >Mobile No(Prefix with country code)</ion-label>
			<ion-input  placeholder="91xxxxxxxxxx" formControlName="mobile" type="text"></ion-input>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of customvalidator.validation_messages['mobile']">
					<div class="error-message" *ngIf="changeForm.get('mobile').hasError(validation.type) && (changeForm.get('mobile').dirty || changeForm.get('mobile').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
			<ion-label position=stacked >Serial No</ion-label>
			<ion-input  placeholder="Enter Serial No" formControlName="serial_no" type="text"></ion-input>
			<ion-label position=stacked >Location</ion-label>
			<ion-input  placeholder="Enter Location details" formControlName="location" type="text"></ion-input>
		  </ion-item>
		  <div *ngIf = "atypinfo.kind === 'collection'" >
			<div formArrayName = "collmap">
			  <div *ngFor = "let asset of changeForm.get('collmap').controls; let i = index" [formGroupName] = "i">
				  <ion-item>
					  <ion-label position="floating" >{{getname(i)}}</ion-label>
					  <ion-select [placeholder]="getname(i)" formControlName="chosen_list" multiple="true">
						  <ion-select-option  *ngFor="let option of getvalue(i)" [selected] = "getcurrentvalue(i, option)" value="{{option}}">{{option}}</ion-select-option>
					  </ion-select>
				  </ion-item>
			  </div>
			</div>
		  </div>
	   	<ion-button full [disabled]="!changeForm.valid" type=submit (click)="save()">Submit</ion-button>
		</ion-list>
	</form>
	<br />
  Form Value: {{ changeForm.value | json }}
</ion-content>
