.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.error-message{
  font: #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-right: 4px solid #a94442; /* red */
}

ion-select {
	max-width:70%;
	width:100%;
	height: auto;
	border:1px solid #ededed;
	border-radius: 3px;     
	background: #fbfbfb;
}

