.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-item {
    background-color: primary;
    width: 95%;
    margin: 15px auto;
    font-weight: bold;
    border-radius: 20px;
    --border-radius: 20px;
}
