.ng-valid[required], .ng-valid.required  {
  border-left: 2px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-right: 2px solid #a94442; /* red */
}

.modal-body {
	position: relative;
	padding: 20px;
	height: 200px;
	overflow-y: scroll;
}
.native-input[disabled] {
  opacity: var(--opacity, 4);
}

.my-checkbox {
    display: flex;
    align-items: center;
}

ion-select {
	max-width:70%;
	width:100%;
	height: auto;
	border:1px solid #ededed;
	border-radius: 3px;     
	background: #fbfbfb;
}

