<!--ion-footer> 
	<ion-toolbar color="primary">
		<ion-label slot="start" *ngFor="let context of carray">{{context}}-></ion-label>
	</ion-toolbar>
</ion-footer-->
<ion-content padding>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
	  <ion-back-button slot="end" id="backButton" defaultHref="/"></ion-back-button>
	  <ion-button *ngIf="global.loginAs === true" fill="clear" (click)="handle_operation('LogoutAs', type, row )"> 
		<ion-icon  size="small" name="log-out"></ion-icon> 
	  </ion-button>
    </ion-buttons>
	<ion-title>{{title}}</ion-title>
	<ion-buttons slot="end">
		<ion-menu-button menuToggle auto-hide="false" menu="mainmenu"><ion-icon  name="menu"></ion-icon></ion-menu-button>
	</ion-buttons>
	<!--/ion-label-->
  </ion-toolbar>
  <ion-toolbar  *ngIf="carray.length > 0" color="primary">
	  <ion-label slot="start" *ngFor="let context of carray">{{context}}-></ion-label>
  </ion-toolbar>
	<ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<ion-item-group >
		<div *ngFor="let type of entity_types">
		  <!--div *ngIf="(view === 'owned' && type.root_asset_flag) || (view === 'controlled' && !type.root_asset_flag)"-->
		  <div>
			<ion-item-divider color="secondary">
			  <ion-label position = "stacked" text-capitalize>
				{{type}}
			  </ion-label>
			  <ion-buttons >
				<ion-button color="tertiary" *ngIf="mypriv === 'SPAdmin'" slot="start" fill="clear" (click)="handle_operation('Add', type)"> 
				  <ion-icon size="small" slot="icon-only" name="add"></ion-icon> 
				</ion-button>
			  </ion-buttons>
			</ion-item-divider>
			<div detail-none *ngFor="let row of data$ | async; let i = index" >
			  <div *ngIf="row.type && type === row.type">
				<ion-item lines="none" >
				  <div *ngIf="row.entity_type < 4"> 
					  <ion-label  position="fixed" (click)="labelClick($event, row)" routerDirection="forward" text-wrap>
						{{row.name}}
					  </ion-label>
				  </div> 
				  <ion-label color="tertiary" *ngIf="row.entity_type == 4" position="fixed" text-wrap>
					{{row.name}}
				  </ion-label>
				  <ion-buttons >
					<ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('Modify', type, row)"> 
					  <ion-icon size="small" name="hammer"></ion-icon> 
					</ion-button>
					<ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('Copy', type, row)"> 
					  <ion-icon size="small" name="copy"></ion-icon> 
					</ion-button>
					<ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('Delete', type, row )"> 
					  <ion-icon  size="small" name="trash"></ion-icon> 
					</ion-button>
					<ion-button slot="end" *ngIf="mypriv === 'SPAdmin' && (type === 'CUSTOMER' || type === 'SERVICE PROVIDER') && loginAs === false" (click)="handle_operation('LoginAs', type, row )"> 
						  <ion-icon  size="small" name="log-in"></ion-icon>
					</ion-button>
				  </ion-buttons>
				  <div *ngIf="row.entity_type == 4"> 
					<ion-buttons >
					  <ion-button  slot="end" (click)="drilldown($event, row)" fill="clear" routerDirection="forward"> 
						<ion-icon size="small" name="open"></ion-icon> 
					  </ion-button>
					  <!--ion-button *ngIf="mypriv === 'SPAdmin'" slot="end" fill="clear" (click)="handle_operation('Sync', type, row )"> 
						<ion-icon  size="small" slot="icon-only" name="sync"></ion-icon> 
					  </ion-button-->
					</ion-buttons >
				  </div>
				  <div *ngIf="row.entity_type < 4 && mypriv === 'SPAdmin'"> 
					<ion-buttons >
					  <ion-checkbox size="small" slot="end" (ionChange)="ActOnSelect(type, row)" [(ngModel)]="row.isChecked"></ion-checkbox>
					</ion-buttons >
				  </div>
				</ion-item>
			  </div>
			</div>
		  </div>
		  </div>
		</ion-item-group>
	</ion-list>
</ion-content>
