ion-item {
    width: 95%;
    margin: 10px auto;
    font-weight: bold;
}
ion-label {
    background-color: medium;
    color: tertiary;
}
ion-card {
    color: medium;
    background-color: light;
}
:host {
    ion-item {
		width: 95%;
		margin: 5px auto;
		font-weight: bold;
		color : tertiary;
    }
}


ion-select {
  .select-icon {
    .select-icon-inner {
       color : blue !important;
    }
  }
}

button {
.button-native {
    color: tertiary;
}
}

.selector {
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #29235e;
    width: 100% !important;
    max-width: 100% !important;
    justify-content: left;
    border: solid 2px #e8ebf0;
    background-color: #ffffff;
    text-align: center;
  }

  .option {
    font-size: 8px;
    letter-spacing: 0.1px;
    color: #29235e;
    width: 25% !important;
    max-width: 100% !important;
    justify-content: center;
    height: 20px;
  }

ion-option .list{
    font-size: 8px !important;
    max-width: 100% !important;
}

 .ion-option-items .item{
    font-size: 8px !important;
    max-width: 100% !important;
  }
 .select-alert {
    font-size: 8px !important;
    max-width: 100% !important;
  }
