// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #38b3ff;
  --ion-color-primary-rgb: 56,179,255;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #319ee0;
  --ion-color-primary-tint: #4cbbff;

  --ion-color-secondary: #3dffe2;
  --ion-color-secondary-rgb: 61,255,226;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #36e0c7;
  --ion-color-secondary-tint: #50ffe5;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82,96,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ff780a;
  --ion-color-warning-rgb: 255,120,10;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e06a09;
  --ion-color-warning-tint: #ff8623;

  --ion-color-danger: #ff0526;
  --ion-color-danger-rgb: 255,5,38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e00421;
  --ion-color-danger-tint: #ff1e3c;

  --ion-color-dark: #0a0a0b;
  --ion-color-dark-rgb: 10,10,11;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #09090a;
  --ion-color-dark-tint: #232323;

  --ion-color-medium: #a2a7be;
  --ion-color-medium-rgb: 162,167,190;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #8f93a7;
  --ion-color-medium-tint: #abb0c5;

  --ion-color-light: #c4c4c5;
  --ion-color-light-rgb: 196,196,197;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #acacad;
  --ion-color-light-tint: #cacacb;
}
